<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header th:replace="fragments/header :: ShopHeader"></header>

    <div class="main-content">
        <div class="item" th:each="item : ${items}">
            <p class="item-name" th:text="${item.name}"></p>

            <img th:src="@{${item.imgUrl}}">

            <div>
                <span>Cena: </span>
                <span th:text="${item.price}"> </span>
                <span>zł</span>
            </div>

            <a th:href="@{'/add/' + ${item.id}}" class="add-btn">Dodaj</a>
        </div>
    
    </div>
</body>
</html>